<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h5>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :title, class: "form-control", placeholder: 'Title' %>
  </div>

  <div class="field form-group">
    <%= form.text_area :body, class: "form-control", placeholder: 'Content'  %>
  </div>

  <div class="actions">
    <%= form.submit class: "form-control btn btn-primary" %>
  </div>
<% end %>
