<h1>
  <%= @blog.title %>
</h1>

<p class="lead mt-3">
  <%= @blog.body %>
</p>

<div class="text-center">
<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
<%= link_to 'Back', blogs_path %>
</div>

<%= render 'comments/comment_form' %>
<div id="comments" data-blog-id="<%= @blog.id %>" >
<%= render @blog.comments %>
</div>