<div class="card user-card text-dark p-3 w-25">
<h3 class="mb-4">Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Reset Password", class: "btn btn-outline-primary form-control mb-3" %>
  </div>
<% end %>

  <div class="text-center">
  <%= render "devise/shared/links" %>
  </div>
</div>